<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- custom css file link -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- header section start -->
    <header>
        <div class="user">
            <img src="/images/<%= data.avatar %>" alt="">
            <h3 class="name"><%= data.username %></h3>
            <p class="post">Web Developer</p>
        </div>
    
        <nav class="navbar">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/">about</a></li>
                <li><a href="/">education</a></li>
                <li><a href="/">portofolio</a></li>
                <li><a href="/">contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header section end -->

    <div id="menu" class="fas fa-bars"></div>

    <!-- home section start -->
    <section class="home" id="home">
        <h3><%= porto.title %></h3>
        <p><%= porto.body %></p>
        <img src="/images/<%= porto.imageone %>" style="height: 50%; width: 70%;" alt="">
        <a href="<%= porto.github %>" target="_blank"><button class="btn">Github <i class="fa-brands fa-github"></i></button></a>
    </section>
    <!-- home section end -->
    <!-- jquery cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom js file link -->
    <script src="/javascripts/script.js"></script>
</body>

</html>